<div class="container custom-container">
  <div class="col-md-12">
    
    <h3 class="mb-3 text-center">Update Activite</h3>
    <div class="form-group">
      <input type="text" [(ngModel)]="activiteData.nomActivite" class="form-control" placeholder="Nom de l'Activite">
    </div>
    <div class="form-group">
      <input type="text" [(ngModel)]="activiteData.descriptionActivite" class="form-control" placeholder="Description de l'activite">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="activiteData.niveauActivite" class="form-control" placeholder="Niveau demande de l'Activite">
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="updateActivite()">Update Activite</button>
    </div>
    
  </div>
</div>