<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Gestion des Livres </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/create-book">Creer Livre</a>
  </nav>
  <a class="btn btn-outline-primary" routerLinkActive="active" routerLink="/books-list">Liste de Livres</a>
</div>
<div class="container custom-container">
  <div class="col-md-12">
    <h3 class="mb-3 text-center">Creer un Livre</h3>

     <div class="form-group">
      <input type="text" [(ngModel)]="bookDetails.nomOuvrage" class="form-control" placeholder="Nom de l'ouvrage  ">
         
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="bookDetails.nomAuteur" class="form-control" placeholder="Nom de l'auteur  ">
    </div>

    <div class="form-group">
      <input type="text" [(ngModel)]="bookDetails.numEdition" class="form-control" placeholder="Numero d'Edition  ">
    </div>

    <div class="form-group">
      <button class="btn btn-success btn-lg btn-block" (click)="addBook(bookDetails)">Creer le Livre</button>
    </div>

  </div>
</div>
